/*GLOBALS*/
*{
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}
.container{
  max-width: 768px;
  overflow: hidden;
}
/* HEADER*/
header{
  width: 100%;
  max-width: 768px;
  text-align: center;
}
.logo_header{
  display: inline-block;
  padding-top: 4px;
}
.fa-search{
  float: right;
  padding: 9.43px 4px 9.43px 0px;
  display: none;
}
.fa-bars{
  float: left;
  padding: 9.43px 0px 9.43px 12px;
}
.login{
  display: none;
  float: right;
}
/*BANNER*/
.banner{
  position: static;
}
.banner_img{
  width: 100%;
  position: relative;
  z-index: 900;
}
.search_buttom{
position: relative;
z-index: 1000;
}
/*BODY*/
.product,
.body_title{
  text-align: center;
}
.product_div{
  border: 1px solid #2ac979;
  padding: 0;
  width: 404px;
  margin-left: 20%;
  margin-right: 20%;
}
.img_products{
  width: 400px;
}
