hr {
	border: 1px solid black;
}
body{
  padding-top:10px;
  background-color: grey;
}


.btn-group-sm>.btn, .btn-sm {
  padding: 5px 196px;
}

[class^="col-"]{
  height: 50px;
  margin-bottom:1px;
  text-align:center;
  line-height:50px;
  color:#fff;
}

.col-center{
  
  margin-left: auto;
  margin-right: auto;
}

.center-block{
  float: none;
}

