/*GLOBALS*/
*{
  box-sizing: border-box;
}
ul{
  padding: 0;
}
li,a{
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.container{
  overflow: hidden;
  background-image: url(../img/background.jpg);
}
body{
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
}
/* HEADER*/
header{
  width: 100%;
  /*le saque el max-width*/
  text-align: center;
}

.logo_header{
  display: inline-block;
  padding-top: 4px;
}
.fa-search{
  float: right;
  padding: 9.43px 4px 9.43px 0px;
}
.fa-bars{
  float: left;
  padding: 9.43px 0px 9.43px 12px;
}
.login, .sign_up{
  float: right;
  margin-top: 15px;
}
.sign_up{
  padding-left: 5px;
}
.login{
  padding-right: 5px;
  border-right: solid 1px black;
}


/*Body*/
.ruta-pag{
  display: none;
}
.preguntas{
  margin-left: 10px;
  border-bottom: solid 1px black;
  margin-right: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 5px;
  padding-bottom: 1px;
  margin-bottom: 0;
}
.respuesta{
  padding-left: 20px;
  margin-bottom: 3px;
}
/*FOOTER*/
.main-footer {
  text-decoration: none;/*saca la linea azul*/
  background-color:#e9e5e6 ;/*gris*/
  /*text-transform: uppercase;/*transforma el texto en mayuscula*/
  display: inline-block;
  width: 100%;
  text-align: center;
}
.url_footer{
  display: inline-block;
  padding-right: 20px;
}
.url_footer:nth-child(3){
  padding-right: 0px;
}
.icons_footer{
  display: inline-block;
  padding-right: 20px;
}
.icons_footer:nth-child(3){
  padding-right: 0;
}
/*ASK*/
.respuesta{
  margin-bottom: 12px;
  text-align: center;
  padding-left: 0;
}
.pregunta{
  margin-top: 9px;
  text-align: center;
}
.preguntas:last-child{
  border-bottom: none;
}
/*MOBILE 2*/
@media (min-width: 425px) {
.product{
  width: 47%;
  margin-right: 1%
}
.product:nth-child(even){
  margin-right: 0;
}

/*TABLET*/
}
@media (min-width: 645px) {
  .br_footer{
    display: none
  }
  .help-footer{
    display: inline-block;
    padding-left: 20px;
    float: left;
  }
  .icons-footer{
    display: inline-block;
    padding-right: 20px;
    float: right;
  }
  .icons_footer{
    float: right;
  }
  .main-footer{
    height: 50px;
    margin-top:74px;
  }
  .icons_footer:nth-child(3){
    padding-right: 20px;
  }
  .icons_footer:nth-child(1){
    padding-right: 0px;
  }

  /*ask*/
  .pregunta{
    text-align: left;
  }
  .respuesta{
    text-align: left;
  }

}
/*DESKTOP*/
@media (min-width:992px) {
/*HEADER*/
header{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 50px;
}
.fa-search{
  padding: 9.43px 4px 7.43px 0px;
}
.fa-bars{
  display: none;
}
.logo_header{
  float: left;
  width: 215px;
}
/*BANNER*/
.banner_img{
  max-height: 800px;
}
/*PRODUSCTS*/
.product{
  width: 31%;
}
.product:nth-child(2n){
  margin-right: 1%;
}
.product:nth-child(3n){
  margin-right: 0;
}
.section_body{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
/*FAQ askeds*/
.asks{
  padding-left: 9%;
  padding-right: 9%;
}

}
